[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pytest = "*"
pytest-cov = "*"
black = "*"
flake8 = "*"

[packages]
pydantic = "*"
confluent-kafka = "*"
requests = "*"
certifi = "*"
ksql = "*"

[requires]
python_version = "3.8.12"