[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
confluent-kafka = "*"
pydantic = "*"
streamlit = "*"
plotly = "*"
ksql = "*"
ijson = "*"
streamlit-autorefresh = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
black = "*"
ipython = {extras = ["notebook"], version = "*"}

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
