# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-e82om.ap-northeast-2.aws.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=KM3FGRWEBVLPI2QA
sasl.password=Mk7iPBKW1uWfpmEGHT9a5v3MYrc1IoEE5RWgkceUBxDqB8oTRh5htjuuzRCJ35+E

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000

# Required connection configs for Confluent Cloud Schema Registry
schema.registry.url=https://{{ SR_ENDPOINT }}
basic.auth.credentials.source=USER_INFO
basic.auth.user.info={{ SR_API_KEY }}:{{ SR_API_SECRET }}
